@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26'%3E%3Ccircle fill='var(--token-3cbcd694-156f-407b-a77a-fba33cbececa%2C%20rgb(234%2C%20234%2C%20241))%20%2F*%20%7B%22name%22%3A%22Light%20Gray%22%7D%20*%2F' cx='3' cy='3' r='1.5'/%3E%3C/svg%3E");
  background-repeat: repeat;
  font-size: 18px;
  @apply text-gray-700;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.section {
  @apply z-10 max-w-3xl w-full items-center justify-center lg:flex py-24 min-h-screen;
}

.badge {
  @apply border-2 rounded-2xl px-2 py-2 border-gray-700 text-xl;
}

.button {
  @apply text-2xl flex gap-2;
}

.sticky-note {
  @apply px-6 py-8 w-40 text-center text-gray-700 min-h-40 flex flex-col items-center justify-center;
  box-shadow: 0 20px 10px -14px #4031a047;
  cursor: move;
}
.sticky-note.green {
  background: #b8ffc6;
}
.sticky-note.red {
  background: #ffa3a3;
}
.sticky-note.yellow {
  background: #fbff94;
}
.sticky-note.blue {
  background: #94e6ff;
}
.sticky-note.purple {
  background: #cda3ff;
}
.sticky-note.orange {
  background: #ffe5a3;
}
.sticky-note.cooler {
  background: #faefcc;
}


input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]),
textarea,
select {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  border-bottom-width: 2px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  @apply rounded-lg border-[2px] border-gray-300;
}

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):focus,
textarea:focus,
select:focus {
  --border-opacity: 1;
  border-color: #474747;
  /* border-color: rgba(211, 95, 96, var(--border-opacity)); */
  outline: 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

input:not([type="radio"]):not([type="radio"]):not([type="submit"]):active,
textarea:active,
select:active {
  --border-opacity: 1;
  border-color: #666464;
  /* border-color: rgba(237, 191, 191, var(--border-opacity)); */
  outline: 0;
}

input[type="submit"],
button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --border-opacity: 1;
  border-color: #474747;
  /* border-color: rgba(211, 95, 96, var(--tw-border-opacity)); */
  --bg-opacity: 1;
  background-color: #474747;
  /* background-color: rgba(211, 95, 96, var(--tw-bg-opacity)); */
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  margin-right: 1rem;
  @apply rounded-lg border-[3px];
}

input[type="submit"]:hover,
button:hover {
  --bg-opacity: 1;
  background-color: #333;
  /* background-color: rgba(224, 143, 144, var(--tw-bg-opacity)); */
}
